@charset "utf-8";
@font-face {
font-family: ikamodoki;
src: url("/static/fonts/ikamodoki1_0.ttf") format("truetype");
}

html {
    background-color: #000;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, Roboto, "Droid Sans", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", sans-serif;
    margin: 0 auto;
    background-image: url('/static/img/background.jpg');
    background-position: center top;
    background-repeat: no-repeat;
}

body {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    height: 100%;
}

@media screen and (min-width: 480px) {

}
@media screen and (min-width: 520px) {
body {
    width:520px;
}
}

div.header {
    background-color: #333;
    height: 60px;
}

.logo {
    text-decoration: none;
    color: #ddd;
    position: absolute;
    padding: 7px 15px;
    font-size: 2em;    
}


.ikamodoki {
    font-family: ikamodoki;
}
.big {
    font-size: 4em;
}
.medium {
    font-size: 1.4em;
}
.small {
    font-size: 0.5em;
}
.notop {
    margin-top: 0px;
}
.nobottom {
    margin-bottom: 0px;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}

h1 {
    font-size: 2em;
}

a {
    color: #D8F4FF;
}

button, .button {
    font-family: ikamodoki;
    font-size:1.4em;
    text-decoration: none;
    height: 50px;
    width:250px;
    display: block;
    margin: 0 auto;
    border: none;
    background-color: #FF6E00;
    color: #fff;
}

.copyright {
    margin-top: 50px;
    color: #444;
}