{% load staticfiles %}<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>{% block title %}イカしようぜ！ Splatoon タグマ・プラベ募集サービス{% endblock%}</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="{% static 'css/common.css' %}" rel="stylesheet">
{% block extrahead %}{% endblock %}
</head>
<body>
<div class="header">
<a href="/" class="logo ikamodoki">イカしようぜ！</a>
</div>
<div class="container">
{% block content %}
  {{ content }}
{% endblock %}
</div>
<div class="footer">
<p class="small center copyright">© 2015 kentahama</p>
{% if not top %}<p class="small center"><a href="/">サイトトップへ</a></p>{% endif %}
</div>
</body>
</html>
